[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plurk-oauth = {git = "https://github.com/clsung/plurk-oauth.git"}
requests = "*"
loguru = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
